/* styles.css */

h1 {
  font-family: "Knewave";
	font-size: 100px;
	color: rgb(B59, 66, 159);
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-left: 30px;
	border-top: 10px;
}

h2{
  font-family: "Knewave";
	font-size: 50px;
	color: rgb(170, 125, 206);
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-left: 30px;
	border-top: 10px;
}

p{
	font-family: "DM Mono";
	font-size: 35px;
	color: rgb(244, 165, 174);
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-left: 30px;
	border-top: 10px;
}

body {
	background-color: rgb(245, 215, 227);
}

img {
  max-width: 100%;
	height: auto; /* Maintains the aspect ratio */
  display: block; /* Helps with alignment issues */
}

/* DM Mono Font */
.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

/* Kenewave Font */
.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}


